*{
  margin: 0;
  padding: 0;
}

@font-face {
 font-family: Tahoma;
  src: url("fonts/9688.ttf");
}

body {
  background-image: url("img/background.jpg");
  font-family: Tahoma;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 4px 5px #031d28;
}

header {
  position: relative;
}

.logo {
  display: flex;
  padding:66px 0 0 50px;
  height: 148px
}

.contacts {
  position: absolute;
  top: 47px;
  left: 845px;
  font-size: 12px;
  color: #5aaec2;
}

.flags ul {
  display: flex;
  position: absolute;
  top: 150px;
  left: 676px;
  font-size: 10px;
  color: #5aaec2;
}

.flags a {
  color: #5aaec2;
}

nav {
  background-color: #343434;
  width: 1000px;
  height: 20px;
  box-shadow: 0 0 3px 2px #343434;
  font-size: 14px;
}

nav ul:after {
  display: flex;
  content: ' ';
  clear: both;
  float: none;
}

ul.menu > li {
  float: left;
  position: relative;
}

ul.menu a {
  text-decoration: none;
  color: white;
}

ul.menu {
  display: flex;
  justify-content: space-evenly;
}

ul.menu > li > a {
  display: flex;
  color: white;
  text-decoration: none;
  background-color: #343434;
}

ul.submenu {
  display: none;
  position: absolute;
  width: 110px;
  top: 20px;
  left: -5px;
  background-color: #343434;
  box-shadow: 0 0 3px 2px #343434;
}

ul.submenu > li {
  display: flex;
}

ul.submenu > li > a {
  display: flex;
  padding: 5px;
  color: white;
  text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
  display: block;
}

ul.submenu > li > a:hover {
  text-decoration: none;
  background-color: #343434;
}
ul.menu > li > a:hover {
  background-color: #343434;
}

section {
  display: flex;
  color: #7d837f;
  font-size: 14px;
  justify-content: space-between;
}

section a {
  text-decoration: none;
  color: #7d837f;
  font-size: 14px;
}

h2 {
  color: #424c43;
  font-size: 18px;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edeef0;
  padding: 5px;
  border-right: 1px solid;
  width: 210px;
}

.info li {
  padding: 5px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edeef0;
  padding: 5px;
  border-left: 1px solid;
  width: 260px;
}

.bg-news li {
  padding: 5px;
}

.text {
  text-align: center;
  color: #b7cddb;
  font-size: 12px;
  padding: 10px;
}